*{
    margin: 0;
    padding: 0;
    
}


body{
    background-color: #495967 ;
/* ,#242c34 */
}

body{
    color: #d1b8a6;
    /* d8c2b2 */
}

#menu{
    padding: 2rem;
    color: aliceblue;
    font-size: 10rem;

}
#menu>a{
    text-decoration: none;
    color: #d1b8a6;
}

#openMenu{
    color: black;

}
div.main-head{
    display: flex;
    width: 100%;
    height: 80vh;
}

.left{
    width: 30%;
    height: 100%;
}

#index{
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Geologica', sans-serif;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30vh;
    padding: 2rem;
    background-color: rgb(230, 239, 247);
    border-radius: 0.5rem;
    margin-top: 8rem;
    border: 0,3,4,0 solid black;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2)
}

#title{
    padding-left: 4rem;
    font-size: 2rem;
}

.center-text{
    padding: 1rem;
    color: rgb(9, 8, 41);
}

.root-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center-text>p{
    margin-bottom: 2rem;
}
ul{
    position: inherit;
    list-style: none;
    
}
li{
    align-items: flex-start;
    
    text-align: left;
    margin-top: 0.5rem;
}
.second-line{
    margin-left: 3rem;
}
a{
    text-decoration: none;
    color: rgb(9, 8, 41);
}

#line{
    display: block;
    background-color: #d1b8a6;
    margin-top: 20px;
    width: 100%;
    color: rgb(187, 187, 187);
}

section{
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 239, 247);
    color: black;
    margin: 2rem;    
}
h2{
    background-color: #d1b8a6;
    font-size: 2rem;
   padding-top: 2rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

h3{
    
    font-size: 1.7rem;
   padding-top: 2rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

section>p{
    margin-left: 5rem;
    margin-right: 8rem;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

footer{
    display: flex;
    height: inherit;
    width: 100%;
}
footer>a{
    color: aliceblue;
    margin-right: 0.8rem;
}