*{
    margin: 0;
    padding: 0;
}

body{
    margin: 50px;
    background-color: bisque;
}
div{
height: 40px;
width: 40px;
}
.black{
    
    border: 1px black;
    background-color: black;
}
.white{
    background-color: aliceblue;
}