*{
    margin: 0px;
    padding: 0px;
}

body{
    background: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;

}

header{
    background: lightslategray;
    height: 100px;
    width: 100%;
}